REQUIRED MODULES:
body-parser
csvtojson
express
mysql2
path

NICE TO HAVE:
nodemon


ROUTES:

/CreateDb => Create the schema `web` and use it, also the tables will be created
/insertData => Insert some starter data into the tables by reading a related csv files for each table
/dropDb => Remove the Db entirely - drop `web` schema and recreate it empty

/users `GET` => Show all users
/users `POST` => Create new user

/nonAtomicObjects `GET` => Show all non atomic objects
/nonAtomicObjects `POST` => Create new non atomic object
/nonAtomicObjects `PUT` => Update non atomic object

/spaces `GET` => Show all spaces
/spaces `POST` => Create new space

/sharedSpaces `GET` => Show all sharedSpaces

/nonAtomicInNonAtomic `GET` => Show all non atomic objects in non atomic objects
/nonAtomicInNonAtomic `POST` => Create new non atomic object in non atomic objects (to place the object inside another object)
/nonAtomicInNonAtomic `PUT` => Update non atomic object place

/atomicObjects `GET` => Show all atomic objects
/atomicObjects `POST` => Create new atomic object
/atomicObjects `PUT` => Update atomic object

/stockObjects `GET` => Show all stock objects
/stockObjects `POST` => Create new stock object

/alerts `GET` => Show all alerts

/sharingRequests `GET` => Show all sharing requests

/objectStatusUpdates `GET` => Show all object status updates