<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>MyStuff</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" href="../static/img/title_logo.png" type="image/icon type">
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/create_new_account.js" defer></script>
</head>
<body dir="rtl">
<div class="grid-container">
  <div class="grid-logo">
    <img src="../static/img/pazel.png" alt="MyStuff logo" id="logo">
  </div>
  <div class="grid-account-title">
    <label class="title"> יצירת חשבון חדש </label>
  </div>
  <div class="back" >
    <a id="back-link">
      <img src="../static/img/back.png" alt="back">
    </a>
  </div>
  <div class="grid-account-creator">
    <img src="../static/img/creator.png" alt="creator">
  </div>
  <div class="grid-account-form">
    <form id="signup-user" name="signup-user" action="personal_area.html" method="get">
      <div class="msg"></div>
      <div>
        <label> שם*:
          <input type="text" name="name" class="text_input" id="userName">
        </label>
      </div>
      <div>
        <label> דואר אלקטרוני*:
          <input type="email" name="email" class="text_input" id="newUserEmail">
        </label>
      </div>
      <div>
        <label>סיסמה*:
          <input type="password" name="password" class="text_input" id="signUpPassword">
        </label>
      </div>
      <div>
        <label>אימות סיסמה*:
          <input type="password" name="password" class="text_input" id="signUpVerificationPassword">
        </label>
      </div>
<!--      <div>-->
<!--        <label>צירוף תמונה:</label>-->
<!--        <input type="image" class="upload_image" src="../static/img/plus.png" alt="add image">-->
<!--      </div>-->
      <div id="submit-create-account">
        <input type="submit" name="submit" value="הרשמה" class="red_button">
      </div>
    </form>
  </div>
  <div class="grid-account-create">
    <img src="../static/img/create.png" alt="create">
  </div>
</div>
<footer>
    Your Stuff Are Already Much More Organized
</footer>
</body>
</html>
