<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title> MyStuff </title> <!--name of the website-->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="img/title_logo.png" type="image/icon type">
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/non_atomic_zone.js" defer></script>
</head>
<body dir="rtl">
<div class="crud-item-window" id="edit-item-window">
  <div class="exit_btn"><img src="img/x.png" alt="exit" id="exit_edit-item-form"></div>
  <div class="item_attributes">
    <div class="crud-title" id="edit-object">עריכת פריט</div>
    <form name="create-item-form" id="createItemForm" action="" method="post">
      <div>
        <label> שם:
          <input type="text" name="name" class="text_input">
        </label>
      </div>
      <div class="chooser">
        <div>
          <label>
            <input type="radio" checked="checked" name="private">
          </label>פרטי
        </div>
        <div>
          <label>
            <input type="radio" checked="checked" name="private">
          </label>לא פרטי
        </div>
      </div>
      <div class="chooser">
        <div>
          <label>
            <input type="radio" checked="checked" name="atomic" id="atomic">
          </label>אטומי
        </div>
        <div>
          <label>
            <input type="radio" checked="checked" name="atomic" id="non-atomic">
          </label>תכולתי
        </div>
      </div>
      <div>
        <label>
          <span class="custom-select" id="select-stock-status">
            <input type="checkbox" name="is_stock" id="is-stock">
            פריט מלאי
            <select id="status-options">
              <option value="במלאי">במלאי</option>
              <option value="הולך להיגמר">הולך להיגמר</option>
              <option value="אזל מהמלאי">אזל מהמלאי</option>
            </select>
          </span>
        </label>
        <span class="custom-select">
          <label>מיקום
            <select id="selectContainer">
            </select>
          </label>
        </span>
      </div>
      <div>
        <input type="submit" name="submit" value="שמירה" class="red_button">
      </div>
      <div id="delete-item">
        <img src="img/trash.png" alt="delete">
      </div>
    </form>
  </div>
</div>
<div class="grid-container">
  <div id="non-atomic-zone">
    <div id="details_btn">
      <a href="/object_details" class="red_button"> פרטים</a>
    </div>
    <div class="back">
      <a id="back-link">
        <img src="img/back.png" alt="back">
      </a>
    </div>
    <div class="buttons-line">
      <div id="edit-item" class="edit_object_btn">עריכה</div>
      <div id="object_id">מזהה:</div>
    </div>
    <div class="object-title" id="non-atomic-title"></div>
    <div class="objects_container" id="objects-placer-non-atomic">
    </div>
  </div>
</div>
<footer>
    Your Stuff Are Already Much More Organized
</footer>
</body>
</html>
