<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title> MyStuff </title> <!--name of the website-->
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" href="../static/img/title_logo.png" type="image/icon type">
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/object_details.js" defer></script>
</head>
<body dir="rtl">
<div class="crud-item-window" id="edit-item-window">
  <div class="exit_btn"><img src="../static/img/x.png" alt="exit" id="exit_edit-item-form"></div>
  <div class="item_attributes">
    <div class="crud-title" id="edit-object">עריכת פריט</div>
    <form name="create-item-form" id="createItemForm" action="" method="post">
      <div class="msg" id="createMessage"></div>
      <div>
        <label> שם:
          <input type="text" name="name" class="text_input">
        </label>
      </div>
<!--      <div>-->
<!--        <label>צירוף תמונה:</label>-->
<!--        <img class="upload_image" src="../static/img/plus.png" alt="plus">-->
<!--      </div>-->
<!--      <div>-->
<!--        <div id="remove_object_pic" class="red_button">הסרת תמונה</div>-->
<!--      </div>-->
      <div class="chooser">
        <div>
          <label>
            <input type="radio" checked="checked" name="private">
          </label>פרטי
        </div>
        <div>
          <label>
            <input type="radio" checked="checked" name="private">
          </label>לא פרטי
        </div>
      </div>
      <div class="chooser">
        <div>
          <label>
            <input type="radio" checked="checked" name="atomic" id="atomic">
          </label>אטומי
        </div>
        <div>
          <label>
            <input type="radio" checked="checked" name="atomic" id="non-atomic">
          </label>תכולתי
        </div>
      </div>
      <div>
        <label>
          <span class="custom-select" id="select-stock-status">
            <input type="checkbox" name="is_stock" id="is-stock">
            פריט מלאי
            <select id="status-options">
              <option value="במלאי">במלאי</option>
              <option value="הולך להיגמר">הולך להיגמר</option>
              <option value="אזל מהמלאי">אזל מהמלאי</option>
            </select>
          </span>
        </label>
        <span class="custom-select">
          <label>מיקום
            <select id="selectContainer">
            </select>
          </label>
        </span>
      </div>
      <div>
        <input type="submit" name="submit" value="שמירה" class="red_button">
      </div>
      <div id="delete-item">
        <img src="../static/img/trash.png" alt="delete">
      </div>
    </form>
  </div>
</div>
<div class="grid-container">
  <div id="object-details-zone">
    <div class="back">
      <a id="back-link">
        <img src="../static/img/back.png" alt="back">
      </a>
    </div>
    <div class="object-placer">
      <div class="object-title"></div>
      <div class="concatenation"></div>
    </div>
    <div class="object-details-container">
      <div class="buttons-line">
        <div class="edit_object_btn" id="edit-item">עריכה</div>
        <div class="stock-status"> במלאי</div>
      </div>
<!--      <div class="object-pic">-->
<!--        -->
<!--      </div>-->
    </div>
  </div>
</div>
<footer>
    Your Stuff Are Already Much More Organized
</footer>
</body>
</html>
