<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title> MyStuff </title> <!--name of the website-->
  <link rel="stylesheet" href="css/styles.css">
  <link rel="icon" href="img/title_logo.png" type="image/icon type">
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/personal_area.js" defer></script>
</head>
<body dir="rtl">
<div id="alerts_center">
  <div id="alert_center_content">
    <div class="exit_btn" id="exit_alerts_center"><img src="img/x.png" alt="exit"></div>
  </div>
</div>

<div class="crud-item-window" id="create-item-window">
  <div class="exit_btn"><img src="img/x.png" alt="exit" id="exit_create-item-form"></div>
  <div class="item_attributes">
    <div class="crud-title">יצירת פריט</div>
    <form name="create-item-form" id="createItemForm" action="" method="post">
      <div class="msg" id="createMessage"></div>
      <div>
        <label> שם*:
          <input type="text" name="name" class="text_input" id="newItemName">
        </label>
      </div>

      <div class="chooser">
        <div>
          <label>
            <input type="radio" checked="checked" name="private">
          </label>פרטי
        </div>
        <div>
          <label>
            <input type="radio" checked="checked" name="private">
          </label>לא פרטי
        </div>
      </div>
      <div class="chooser">
        <div>
          <label>
            <input type="radio" checked="checked" name="atomic" id="atomic">
          </label>אטומי
        </div>
        <div>
          <label>
            <input type="radio" checked="checked" name="atomic" id="non-atomic">
          </label>תכולתי
        </div>
      </div>
      <div>
        <label>
          <span class="custom-select" id="select-stock-status">
            <input type="checkbox" name="is_stock" id="is-stock">
            פריט מלאי
            <select id="status-options">
              <option value="במלאי">במלאי</option>
              <option value="הולך להיגמר">הולך להיגמר</option>
              <option value="אזל מהמלאי">אזל מהמלאי</option>
            </select>
          </span>
        </label>
        <span class="custom-select">
          <label>מיקום
            <select id="selectContainer">
            </select>
          </label>
        </span>
      </div>
      <div>
        <input type="submit" name="submit" value="שמירה" class="red_button">
      </div>
    </form>
  </div>
</div>
<div id="grid-personal-container">
    <div class="grid-logo">
    <img src="img/pazel.png" alt="MyStuff logo" id="logo">
  </div>
  <div id="grid-personal-title">
    <label class="title"> אזור אישי </label>
    <br>
    <label id="spaces-title"> החללים שלי </label>
  </div>
  <div id="alerts">
    <div id="bell" class="pulsing">
      <img src="img/bell.png" alt="bell">
      <img src="img/bell_hover.png" class="img-top" alt="bell Front">
    </div>
    <label class="regular-text" id="hello-user"> </label>
  </div>
  <div id="supply_button">
    <a href="/supply_manage" class="pink_button"> ניהול מלאי</a>
  </div>
  <div class="objects_container" id="objects-placer">
    <a href="/choose_space" id="new_space">הוספת חלל
      <img class="plus" src="img/plus.png" alt="add image">
    </a>
  </div>
  <div id="edit_button">
    <a href="/edit_account" class="blue_button"> עריכת חשבון</a>
  </div>
  <div id="add_item_button">
    <span class="red_button2"> הוספת פריט חדש +</span>
  </div>
  <form id="searchItemForm" action="" method="get">
    <div>
      <div class="msg" id="searchMessage"></div>
      <div>
        <div class="msg"></div>
        <label>חיפוש פריט קיים:
          <input type="text" name="search" id="itemSearched" placeholder="יש להזין את שם הפריט כאן">
        </label>
        <div>
          <input class="red_button" type="submit" name="submit" value="חיפוש" id="searchInput">
        </div>
        <div id="searchResults">
        </div>
      </div>
    </div>
  </form>
  <div id="logout_button">
    <a href="/home" class="yellow_button2"> התנתקות</a>
  </div>
</div>
<footer>
    Your Stuff Are Already Much More Organized
</footer>
</body>
</html>
