<!DOCTYPE html>
<html lang="he">
<head>
  <meta charset="UTF-8">
  <title>MyStuff</title>
  <link rel="stylesheet" href="../static/css/styles.css">
  <link rel="icon" href="../static/img/title_logo.png" type="image/icon type">
  <script src="../static/js/common.js" defer></script>
  <script src="../static/js/supply_manage.js" defer></script>
</head>
<body dir="rtl">
<div class="grid-container">
  <div class="grid-logo">
    <img src="../static/img/pazel.png" alt="MyStuff logo" id="logo">
  </div>
  <div id="grid-supply-manage-title">
    <label class="title" id="supply-title"> ניהול מלאי </label>
  </div>
  <div class="back" >
    <a id="back-link">
      <img src="../static/img/back.png" alt="back">
    </a>
  </div>
  <div id="tbl_grid">
    <div id="stock_tbl">
      <span class="pink_cell">שם הפריט</span>
      <span class="pink_cell">מיקום</span>
      <span class="pink_cell">סטטוס</span>
      <span></span>
    </div>
  </div>
</div>
<footer>
    Your Stuff Are Already Much More Organized
</footer>
</body>
</html>
